body{
background:#689bb9 ;
}

.galeria img {
	width: 400px;
	margin:20px ;
	border: 1px solid #484848;
	padding: 5px;
	opacity: 0.5;
   vertical-align: top;
   

}

.galeria:hover{

border: 1px solid #3adf19;
opacity: 1;


}

